<sr-toolbar
    [entityType]="entityType"
    [isLoadingSearchResults]="toolbarState.isLoadingSearchResults"
    [isShowSearchResults]="toolbarState.isShowSearchResults"
    [entities]="toolbarState.entities"
    (closeEntitiesResultsWindow)="onCloseEntitiesResultsWindow()"
    (entitiesSearchRequest)="onEntitiesSearchRequest($event)"
></sr-toolbar>
<sr-student-cards-container
    [students]="studentsCardsState.entities"
    [isLoading]="studentsCardsState.isLoadingStudentsCards"
    [isShow]="studentsCardsState.isShowStudentsCards"
></sr-student-cards-container>
