@import '../../theme/core-variables.scss';

$app-toolbar-height: px-to-rem(60px);
$app-toolbar-divider-color: $gray-stroke-color;

.toolbar {
    position: sticky;
    top: 0;
    z-index: $toolbar-z-index;
    display: flex;
    align-items: center;
    background: $white-color;
    border-bottom: px-to-rem(1px) solid $app-toolbar-divider-color;
    box-sizing: border-box;
    height: $app-toolbar-height;
    padding: 0 0 0 px-to-rem(25px);
    margin: 0;
}
