// colors
$gray-dark-color-hover: #3c3b3d;
$gray-dark-color: #464547;
$white-color: #fff;
$blue-color: #39c2d7;
$iris-blue: #1a9cb0;

$base-font-size: 16px;

// its allows to add 'resize' feature so need to always use this
@function px-to-rem($px) {
    @return $px / $base-font-size * 1rem;
}

$normal-header-height: px-to-rem(60px);

@mixin full-page-image($image) {
    position: fixed;
    top: $normal-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url($image);
    background-size: cover;
}

$oswald-font-name: 'Oswald';
