// colors
$white-color: #fff;
$gray-dark-color-hover: #3c3b3d;
$gray-dark-color: #464547;
$blue-color: #39c2d7;
$iris-blue: #1a9cb0;
$gray-dark-color: #464547;
$gray-light-color: #f6f6f6;
$gray-color: rgba(0, 0, 0, 0.54);
$divider-line-color: rgba(0, 0, 0, 0.12);
$green-color: #99bc38;
$green-dark-color: #7f993a;
$yellow-color: #eabb20;
$yellow-dark-color: #ecc134;
$red-color: #eb6a5a;
$red-dark-color: #a92a19;
$mercury: #e1e1e1;
$no-privileges-color: #a4aaba;
$privileges-color: #14707e;
$no-privilege-color: #666;
$dark-blue: #14707e;
$gray-stroke-color: #e2e2e2;

$base-font-size: 16px;

// its allows to add 'resize' feature so need to always use this
@function px-to-rem($px) {
    @return $px / $base-font-size * 1rem;
}

// base sizes
$normal-header-height: px-to-rem(60px);
$normal-header-icon-width: px-to-rem(50px);
$default-card-width: px-to-rem(255px);

$primary-font-size: px-to-rem(15px);

$min-page-width: 1200px;

$app-toolbar-height: px-to-rem(60px);
$entity-search-results-width: px-to-rem(400px);

// fonts
$oswald-font-name: 'Oswald';
$source-sans-pro-font-name: 'SourceSansPro';

@mixin full-page-image($image) {
    position: fixed;
    top: $normal-header-height;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url($image);
    background-size: cover;
}

@mixin base-row-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: px-to-rem(10px) 0;

    div:hover {
        color: $gray-dark-color-hover;
    }

    span {
        padding-left: px-to-rem(5px);
    }
}

@mixin text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin light-font-color() {
    color: $gray-color;
}

@mixin hover-font-color() {
    &:hover,
    &:focus {
        color: $gray-dark-color-hover;
        background: transparent;
        cursor: pointer;
        outline: none;
    }
}

@mixin sanspro-primary-font {
    font-family: $source-sans-pro-font-name;
    font-size: px-to-rem(14px);
    letter-spacing: px-to-rem(.35px);
}
